@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d2631;
}


header{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d2631;
    border-bottom: 1px solid white;
    
}

header h1 {
    color: #e7e7e7;
    font-size: 3em;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #e7e7e7;
    background-color: #83a5b9;
    border-radius: 6px;
    padding: 3px;
}


.menu ul {
    display: flex;
}

.menu li {
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

.menu a:hover{
    background-color: rgb(48, 101, 134);
    color: #e7e7e7;
}

/* Primeiro H1 com Serralheria */
.description{
    margin: auto;
    background-color: #1d2631;
}

.nome_bg{
    color: #e7e7e7;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #999999;
    
}

.nome_bg > h1{
    font-size: 4em;
    color: #e7e7e7;
}
.nome_bg > p{
    font-size: 1.25rem;
    color: #999999;
}

/* Parte inferior da descrição */
.desc_bg{
    text-align: center;
    
}

.desc_flex  {
    min-width: 300px;
    max-width: 900px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    border-bottom: 1px solid #999999;
    margin: 0 auto;
      
}

.desc h1{
    color: #e7e7e7;
}
.desc > p{
    width: 350px;
    color: #999999;
    font-size: 1.25rem;
    padding-bottom: 20px;
    
}
div#imagem > img{
    width: 300px;
    border-radius: 20px;
}

/* LISTA DE PREÇO */

.preco{
    min-width: 300px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
    
    
}
.preco-item{
    border: 3px solid #999999;
    border-radius: 8px;
    margin: 15px;
    text-align: center;
    padding: 20px;
    
    
    
}

.preco-item h1{
    color: #e7e7e7;
    padding-bottom: 8px;
}

.preco-item li{
    color: #e7e7e7;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.25rem;
    text-align: center
}

.preco-item img {
    max-width: 300px;
    margin: 0 auto;
}

/* Projetos e fotos */

.projeto{
    background-color: #1d2631;
}
.projeto-info{
    font-size: 2em;
    padding: 30px;
}

.projeto-info h1 {
    color: #e7e7e7;
    text-align: center;
}
.projeto-foto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;
   
    
}

.projeto-foto > img{
    width: 250px;
    height: 250px;
    padding: 15px;
    border-radius: 30px;
    
}



/* footer */

footer{
    background: #83a5b9;
    text-align: center;
    margin-top: 50px;
}

/*BOTÃO DO WHATSAPP*/

.whats {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: 9999;
}

.whats > a > img{
    width: 100px;
    height: 100px;
}


