@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 167, 119);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 141, 28);
}

header h1 {
    color: rgb(29, 68, 92);
}
.menu a{
    text-decoration: none;
}

a{  
    color: orange;
    border: 1px solid black;
    background-color: rgb(29, 68, 92);
    border-radius: 6px;
    padding: 3px;
}

a:hover{
    background-color: rgb(48, 101, 134);
}


.description{
    padding-top: 10px;
    width: 900px;
    height: 96vh;
    margin: auto;
}

.nome{
    font-size: 3em;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}


.desc_ind > h1{
    font-size: 2em;
    text-align: center;
    padding-bottom: 10px;
}
.desc_ind > p {
    font-size: 1.2em;
}
.imagem1{
    background-image: black url('imagens/Screenshot_2.png') center no-repeat fixed;
    background-size: cover;
}